*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

form{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='text']{
    padding: 5px 10px;
    outline: none;
}

input[type="text"]:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px;
    margin-bottom: 0.8px;
}

input[type="text"]:nth-child(2){
    border-radius: 0;
    outline: none;
    border: 1px;
    margin-bottom: 1px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

select{
    border-radius: 0;
    outline: none;
    border: 1px;
    margin-top: .8px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]{
    margin-top: 5px;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
}